<div>
    <h1>Agregar nuevo aportante</h1>
    <form class="add_contributor" method="post" action="/agregar_aportante">
        {% if add_contributor_attempt_status is not same as(-1) %}
            {% if add_contributor_attempt_status %}
        <div class="result-message success">¡El aportante o la aportanta {{ add_contributor_attempt_name }} ha sido agregade exitosamente!</div>
            {% else %}
        <div class="result-message fail">Ha ocurrido un error al intentar agregar a {{ add_contributor_attempt_name }}. Intente de nuevo para que vuelva a ocurrir el mismo error</div>
            {% endif %}
        {% endif %}
        <input type="text" id="first_name" name="first_name" placeholder="nombre" required minlength="4">
        <input type="text" id="last_name"  name="last_name"  placeholder="apellido" required minlength="4">
        <input type="email" id="email"      name="email"      placeholder="email" required >
        <input type="hidden" name="{{ csrf_token_name }}" value="{{ csrf_hash }}" />
        <button class="button_small">Guardar</button>
    </form>
</div>
