<section class="wrapper-wide">
    <!--Contexto de aplicación-->
    {% if status == CAMPAIGN_STATUS_EDITING %}
        <div class="app_context">
            <div class="wrapper">
                <span>Editando: Aportes 2020</span>
            </div>
        </div>
    {% elseif status == CAMPAIGN_STATUS_CARD_CREATED %}
        <div class="app_success">
            <div class="wrapper">
                <span>Su ficha se guardó correctamente!</span>
            </div>
        </div>
    {% endif %}
    <!--Barra de Búsqueda-->
    <div class="search">
        <div class="wrapper">
            <form action="">
                <input type="text" placeholder="Buscar una ficha..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</section>

<section class="wrapper">
    <!--Breadcrumb-->
    <div class="content breadcrumb">
        <a href="/campanias">
            <i class="fa fa-home"></i>
        </a>
        &#9656;
        {{ campaign.name }}
    </div>

    <input type="hidden" id="fichas_rainbow" name="{{ csrf_token_name }}" value="{{ csrf_hash }}" />
    <input type="hidden" id="campaign_id" value="{{ campaign_id }}">
    <!--Cargar nueva ficha-->
    <div class="content campaign_buttons">
        <div class="campaign_filter_buttons">
            <div>
                <a class="sort-az"><button class="button_small button_filter filter_left filter_disable"><i class="fa fa-sort-alpha-asc fa-lg"></i></button></a>
                <a class="sort-za"><button class="button_small button_filter filter_left"><i class="fa fa-sort-alpha-desc fa-lg"></i></button></a>
            </div>
            <div>
                <a class="owner-cards"><button class="button_small button_filter filter_right filter_disable"><i class="fa fa-address-card fa-lg"></i></button></a>
            </div>
        </div>
        {% if active_campaign %}
        <div>
            <a href="/nueva_ficha/{{ campaign_id }}"><button class="button_small"><i class="fa fa-plus-circle fa-lg"></i> Agregar Ficha</button></a>
        </div>
        {% endif %}
    </div>
    <!--Lista de Fichas-->
    <div class="cards_list">
    </div>
    <div class="loader start-hidden">
        <img src="/assets/images/loader.gif">
    </div>
</section>
