{% for campaign in campaigns %}
<li>
    <div>
        <a href="/campania/{{ campaign.id }}">{{ campaign.name }}</a>
    </div>
    {% if campaign.active == 'false' %}
    <div class="campaign_finished">
        <span><i class="fa fa-lock"></i> Finalizada</span>
    </div>
    {% endif %}
</li>
{% endfor %}
