{% for card in cards %}
<a href="/ficha/{{ card.id }}">
    <div class="card_list_row">
        <div class="card_list_item">{{ card.contributors_text }}</div>
        <!--div><i class="fa fa-check fa-lg"></i></div-->
    </div>
</a>
{% endfor %}
