<section class="wrapper_wide">
    <!--Contexto de aplicación-->
    {% if success_message != '' %}
    {% set app_context_extra_classes = ' start-hidden' %}
    {% set app_error_extra_classes   = ' start-hidden' %}
    {% elseif error_message != '' %}
    {% set app_context_extra_classes = ' start-hidden' %}
    {% set app_success_extra_classes = ' start-hidden' %}
    {% else %}
    {% set app_success_extra_classes = ' start-hidden' %}
    {% set app_error_extra_classes   = ' start-hidden' %}
    {% endif %}
    <div class="app_context{{ app_context_extra_classes }}">
        <div class="wrapper">
            <span>Editando:
                {% for index, contrib in card.contributors%}
                {{ contrib.first_name | title }} {{ contrib.last_name | title }}
                {% if (index+1) != card.contributors | length %} / {% endif %}
                {% endfor%}
            </span>
        </div>
    </div>
    <div class="app_success{{ app_success_extra_classes }}">
        <div class="wrapper">
            <span>{{ success_message }}</span>
        </div>
    </div>
    <div class="app_error{{ app_error_extra_classes }}">
        <div class="wrapper">
            <span>{{ error_message }}</span>
        </div>
    </div>
</section>

<section class="wrapper">
    <!--Breadcrumb-->
    <div class="content breadcrumb">
        <a href="/campanias">
            <i class="fa fa-home"></i>
        </a>
        &#9656;
        <a href="/campania/{{ card.campaign.id }}">{{ card.campaign.name }}</a>
        &#9656;
        {{ card_name | slice (0, 50) }}{% if card_name | length > 50 %}...{% endif %}
    </div>

    <div class="content">
        <div class="author">
            <span>Receptor: {{ card.user.first_name | title | first }}. {{ card.user.last_name | title }}</span>
        </div>
        <h1>
            {% for index, contrib in card.contributors %}
            {{ contrib.first_name | title }} {{ contrib.last_name | title }}
            {% if (index+1) != card.contributors | length %} / {% endif %}
            {% endfor %}
        </h1>

        {% if active_campaign %}
        <div class="edit_button">
            <a href="/editar_ficha/{{ card.id }}">
                <button class="button_small"><i class="fa fa-pencil fa-lg"></i> Editar</button>
            </a>
        </div>
        {% endif %}
    </div>
    <div class="content">
        <div style="display:flex">
            <div style="margin-right: 20px">
                <h2>Comprometido:</h2>
                <div class="amount_wrap_small">
                    <div>
                        <span class="currency">USD</span>
                        {% set current_currency = false %}
                        {% for commitment in card.commitments %}
                        {% if commitment.currency == 'USD' %}
                        {% set current_currency = true %}
                        <span class="commitment_amount">
                            {{ commitment.amount | number_format(0, ',', '.') }}
                        </span>
                        {% endif %}
                        {% endfor %}
                        {% if not current_currency %}
                        <span class="commitment_amount">
                            0
                        </span>
                        {% endif %}
                    </div>
                    <div>
                        <span class="currency">AR$</span>
                        {% set current_currency = false %}
                        {% for commitment in card.commitments %}
                        {% if commitment.currency == 'ARS' %}
                        {% set current_currency = true %}
                        <span class="commitment_amount">
                            {{ commitment.amount | number_format(0, ',', '.') }}
                        </span>
                        {% endif %}
                        {% endfor %}
                        {% if not current_currency %}
                        <span class="commitment_amount">
                            0
                        </span>
                        {% endif %}
                    </div>
                    <div>
                        <span class="currency">EUR</span>
                        {% set current_currency = false %}
                        {% for commitment in card.commitments %}
                        {% if commitment.currency == 'EUR' %}
                        {% set current_currency = true %}
                        <span class="commitment_amount">
                            {{ commitment.amount | number_format(0, ',', '.') }}
                        </span>
                        {% endif %}
                        {% endfor %}
                        {% if not current_currency %}
                        <span class="commitment_amount">
                            0
                        </span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!--div>
                <h2>Recibido:</h2>
                <div class="amount_wrap_small">
                    <div>
                        <span class="currency">USD</span>
                        <span class="commitment_amount">
                            0
                        </span>
                    </div>
                    <div>
                        <span class="currency">AR$</span>
                        <span class="commitment_amount">
                            0
                        </span>
                    </div>
                    <div>                    
                    <span class="currency">EUR</span>
                        <span class="commitment_amount">
                            0
                        </span>
                    </div>
                </div>
            </div-->
        </div>
    </div>
    <div class="content">
        <h2>Comentarios:</h2>
        <p>{{ card.comments }}</p>
    </div>

</section>
<section class="wrapper_wide">
    <div class="wrapper">
        <div class="content">
            <h1 class="h1_white">Aportes Recibidos:</h1 class="white">
        </div>
        <div class="content">
            <!--Cargar Entregas-->
            {% if active_campaign %}
            <div class="content flex_center_align">
                <a href="/nueva_entrega/{{ card.id }}">
                    <button class="button_small"><i class="fa fa-plus-circle fa-lg"></i> Cargar Aportes Recibidos</button>
                </a>
            </div>
            {% endif %}
            <!--Listado de entregas-->
            {% for delivery in card.deliveries %}
            <div class="card_delivery{% if delivery.user.id == user_id %} logged_user{% endif %}">
                <div class="edit_button">
                    {% if active_campaign %}
                    <a href="/editar_entrega/{{ delivery.id }}">
                        <button class="button_small"> <i class="fa fa-pencil fa-lg"></i> Editar</button>
                    </a>
                    {% endif %}
                </div>
                <div>
                    <span>Monto: </span>
                    <span class="currency">{{ delivery.currency }}</span>
                    <span class="commitment_amount">{{ delivery.amount | number_format(0, ',', '.')}}</span>
                </div>
                <div>
                    <span>Recibido el:</span>
                    <span>{{ delivery.reception_date | date('d/m/Y') }}</span>
                </div>
                <div>
                    <span>Estado: {{ delivery.final_delivery_id }}</span>
                    {% if delivery.final_delivery == null %}
                    <span class="status_red">Recibido</span>
                    {% else %}
                        {% if delivery.final_delivery.confirmed == 'f' %}
                        <span class="status_orange">Entregado a comisión</span>
                        {% else %}
                        <span class="status_green">Confirmado</span>
                        {% endif %}
                    {% endif %}
                </div>
                <div>
                    <span>Comentarios:</span>
                    <span>{{ delivery.comments }}</span>
                </div>
                <div>
                    <span>Receptor/a:</span>
                    <span>
                        {{ delivery.user.first_name | title }}
                        {{ delivery.user.last_name | title }}
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
