<section class="wrapper">
    <!--Breadcrumb-->
    <div class="content breadcrumb">
        <a href="">
            <i class="fa fa-home"></i>
        </a>
        &#9656;
        <a href="">Campaña 2020</a>
        &#9656;
        <a href="">Historial de Recepción</a>
    </div>
    <div class="content">
        <h1>Historial de Recepción</h1>
    </div>
    <!--Recibido, Entregado y Confirmado-->
    <div class="content amounts_desktop">
        <div>        
            <div>
                <span class="amount_titles">Total Confirmado</span>
                <a class="help" href="#help_confirmado"><i class="fa fa-info-circle fa-lg"></i></a>
            </div>
            <div id="help_confirmado" class="modal">
                <div class="modal_content">
                    <a class="close_modal" href="#"><i class="fa fa-window-close"></i></a>
                    <h2>¿Qué es Confirmado?</h2>
                    <p>Es el total del dinero que hemos recibido y confirmado su correcta recepción por parte de La Comisión durante toda la campaña actual.</p>
                </div>
            </div>
            <div class="amount_wrap_small">
                <div>
                    <span class="currency">USD</span>
                    <span class="commitment_amount">5000</span>
                </div>
                <div>
                    <span class="currency">AR$</span>
                    <span class="commitment_amount">35000</span>
                </div>
                <div>
                    <span class="currency">EUR</span>
                    <span class="commitment_amount">200</span>
                </div>
            </div>
        </div>
    </div>
    

</section>
<section class="wrapper">
    
    <!--Historial-->
<div>    
    <div class="delivery_item">
        <div>
            <div class="delivery_date">
                15 de Agosto de 2005
            </div>
            <div class="delivery_name">
                Carlos Munoz
            </div>
            <div>
                <span>
                    <span class="currency">USD</span>
                    <span class="commitment_amount">500</span>
                </span>
            </div>
            <div>
                <span>Estado:</span>                    
                
                    <span class="status_red">No confirmado</span>
                
                    <span class="status_green">Confirmado</span>
                
            </div>
        </div>
        <div>
            <input type="checkbox" name="" id="">
        </div>    
    </div>    
</div>    
</section>
