<section class="wrapper">
    <div class="status_bar">
        <div class="wrapper">
            <span>Procesando datos...</span>
        </div>
    </div>
    <!--Breadcrumb-->
    <div class="content breadcrumb">
        <a href="/campanias">
            <i class="fa fa-home"></i>
        </a>
        &#9656;
        {{ campaign.name }}
    </div>
    <div class="content">
        <h1>Confirmar Recepción</h1>
    </div>
    <!--Recibido, Entregado y Confirmado-->
    <div class="content amounts_desktop">
        <div>   
            <div>
                <span class="amount_titles">No Confirmado</span>
                <a class="help open_modal" data-modal-name="help_no_confirmado"><i class="fa fa-info-circle fa-lg"></i></a>
            </div>
            <div id="help_no_confirmado" class="tip modal">
                <div class="modal_content">
                    <a class="close_modal" href="#"><i class="fa fa-window-close"></i></a>
                    <h2>¿No Confirmado?</h2>
                    <p>Es el dinero que hemos recibido de parte de los receptores, pero que se encuentra pendiente de aprobación dentro de la aplicación. Es la Comisión quien confirma este dato.</p>
                </div>
            </div>
            <div class="amount_wrap_small">
                <div>
                    <span class="currency">USD</span>
                    <span class="commitment_amount">{{ amounts.non_confirmed.USD | number_format(0, ',', '.') }}</span>
                </div>                                             
                <div>                                              
                    <span class="currency">ARS</span>              
                    <span class="commitment_amount">{{ amounts.non_confirmed.ARS | number_format(0, ',', '.') }}</span>
                </div>                                             
                <div>                                              
                    <span class="currency">EUR</span>              
                    <span class="commitment_amount">{{ amounts.non_confirmed.EUR | number_format(0, ',', '.') }}</span>
                </div>
            </div>
        </div>
        <div>        
            <div>
                <span class="amount_titles">Confirmado</span>
                <a class="help open_modal" data-modal-name="help_confirmado"><i class="fa fa-info-circle fa-lg"></i></a>
            </div>
            <div id="help_confirmado" class="tip modal">
                <div class="modal_content">
                    <a class="close_modal" href="#"><i class="fa fa-window-close"></i></a>
                    <h2>¿Qué es Confirmado?</h2>
                    <p>Es el dinero que hemos confirmado su correcta recepción por parte de La Comisión.</p>
                </div>
            </div>
            <div class="amount_wrap_small">
                <div>
                    <span class="currency">USD</span>
                    <span class="commitment_amount">{{ amounts.confirmed.USD | number_format(0, ',', '.') }}</span>
                </div>
                <div>
                    <span class="currency">ARS</span>
                    <span class="commitment_amount">{{ amounts.confirmed.ARS | number_format(0, ',', '.') }}</span>
                </div>
                <div>
                    <span class="currency">EUR</span>
                    <span class="commitment_amount">{{ amounts.confirmed.EUR | number_format(0, ',', '.') }}</span>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" class="rainbow" name="{{ csrf_token_name }}" value="{{ csrf_hash }}" />
    

</section>
<section class="wrapper_wide">
    <div class="wrapper">
            <!--Lista a Entregar-->
        <div>
            <h1 class="h1_white">Confirmar:</h1>
            <div class="content flex_center_align sticky-confirmation">
                <button id="confirm" class="button_small"><i class="fa fa-check fa-lg"></i> Confirmar recepción</button>
                <button id="unconfirm" class="button_small button_red"><i class="fa fa-undo fa-lg"></i> Revertir confirmación</button>
            </div> 

            <div>
                {% for delivery in deliveries %}
                <div class="delivery_item">
                    <input class="id" type="hidden" value="{{ delivery.id }}">
                    <input class="status" type="hidden" value="{{ delivery.confirmed ? 2 : 1 }}">
                    <div>
                        <div class="delivery_date">
                            {{ delivery.reception_date | date('d/m/Y') }}
                        </div>
                        <div class="delivery_name">
                            {{ delivery.user }}
                        </div>
                        <div>
                            <span>
                                <span class="currency">{{ delivery.currency }}</span>
                                <span class="commitment_amount">{{ delivery.amount | number_format(0, ',', '.') }}</span>
                            </span>
                        </div>
                        <div>
                            <span>Estado:</span>                    
                                {% if not delivery.confirmed %} 
                                <span class="status_orange">No confirmado</span>
                                {% else %} 
                                <span class="status_green">Confirmado</span>
                                {% endif %}
                        </div>
                        <div>
                            <span>
                                <span class="comment">{{ delivery.comments }}</span>
                            </span>
                        </div>
                    </div>
                    {% if delivery.available %}
                        <div>
                            <input class="check" type="checkbox">
                        </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>   
            
            
        </div>
        <p class="content flex_center_align white">&nbsp;</p>  
    </div>
</section>
