<section class="wrapper-wide">
    <!--Contexto de aplicación-->
    <div class="app_context">
        <div class="wrapper">
            <span>Cargando aporte Recibido</span>
        </div>
    </div>
</section>
<section class="wrapper">
    <!--Breadcrumb-->
    <div class="content breadcrumb">
        <a href="/campanias">
            <i class="fa fa-home"></i>
        </a>
        &#9656;
        <a href="/campania/{{ card.campaign.id }}">{{ card.campaign.name }}</a>
        &#9656;
        <a href="/ficha/{{ card.id }}">{{ card_name | slice (0, 50) }}{% if card_name | length > 50 %}...{% endif %}</a>
        &#9656;
        {% if delivery %}
            {% if active_campaign %}
                Editar aporte
            {% else %}
                Ver aporte
            {% endif %}
        {% else %}
            Nuevo Aporte
        {% endif %}
    </div>


    <div class="content">
        {% if delivery %}
            {% if active_campaign %}
                <h1>Editar aporte</h1>
            {% else %}
                <h1>Ver aporte</h1>
            {% endif %}
        {% else %}
        <h1>Nuevo Aporte Recibido</h1>
        {% endif %}
    </div>
    <form action="" method="post" id="create_delivery">
        <input type="hidden" id="card_id" name="card_id" value="{{ card.id }}">
        <input type="hidden" id="active_campaign" value="{{ active_campaign }}">
        <div class="content">
            <h2>Fecha de Recepción:</h2>
            {% if delivery.reception_date != "" %}
            <input type="date" name="reception_date" value="{{ delivery.reception_date }}" min="{{ mindate }}" max="{{ maxdate }}" required>
            {% else %}
            <input type="date" name="reception_date" min="{{ mindate }}" max="{{ maxdate }}" required>
            {% endif %}
        </div>
        <div class="content">
            <h2>Monto Recibido:</h2>
            <div class="amount_wrap amount_edition">
                {% if delivery is empty %}
                    <div>
                        <p>Moneda</p>
                        <select class="currency_selector" name="currency">
                            <option value="ARS">AR$</option>
                            <option value="USD">USD</option>
                            <option value="EUR">EUR</option>
                        </select>
                    </div>
                    <div class="amount_container">
                        <p>Monto</p>
                        <input type="number" name="amount" required>
                    </div>
                {% else %}
                    <div>
                        <p>Moneda</p>
                        <select class="currency_selector" name="currency">
                            <option {% if delivery.currency == 'ARS' %}selected{% endif %} value="ARS">AR$</option>
                            <option {% if delivery.currency == 'USD' %}selected{% endif %} value="USD">USD</option>
                            <option {% if delivery.currency == 'EUR' %}selected{% endif %} value="EUR">EUR</option>
                        </select>
                    </div>
                    <div class="amount_container">
                        <p>Monto</p>
                        <input type="number" name="amount" value="{{ delivery.amount }}" required>
                    </div>
                {% endif %}
            </div>
        </div>    
        <div class="content">
            <h2>Comentarios:</h2>
            <textarea name="comments" placeholder="{{ comments_placeholder }}">{{ delivery.comments }}</textarea>
        </div>
        {% if active_campaign %}
        <div class="content">
            <div style="display: flex; flex-direction:row">
                <div>
                    {% if is_admin %}
                    <div style="margin-right: 10px;">
                        <input id="delivery_id" type="hidden" value="{{ delivery.id }}">
                        <input style="display: block; background-color: red; color: white;" class="open_modal" data-modal-name="eliminar_aporte" type="button" value="Eliminar">
                    </div>
                    {% endif %}

                    <div id="eliminar_aporte" class="tip modal">
                        <div class="modal_content">
                            <a class="close_modal" href="#"><i class="fa fa-window-close"></i></a>
                            <h2 style="color: red; padding-top: 10px"><i class="fa fa-exclamation-triangle"></i> Está seguro de eliminar este aporte?</h2>
                            <p>Si elimina este aporte los datos se perderán y no habrá manera de recuperarlos. Solo elimine aportes duplicados o erróneos.</p>
                            <br>
                            <div style="display: flex; gap: 10px">
                                <input id="delete-delivery" class="button_red" type="button" value="Eliminar Aporte">
                                <input class="cancel_modal" type="button" value="Cancelar">
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display: block; ; width: 100%">
                    <input type="submit" value="Guardar">
                </div>
            </div>
        </div>
        {% endif %}
        <input type="hidden" class="rainbow" name="{{ csrf_token_name }}" value="{{ csrf_hash }}" />
    </form>
</section>
