<section class="wrapper-wide">
    <!--Contexto de aplicación-->
    <div class="app_context">
        <div class="wrapper">
            <span>Creando una nueva campaña</span>
        </div>
    </div>
</section>
<section class="wrapper">
    <div class="content">
        <h1>Nueva Campaña</h1>
    </div>
    <form action="" method="post" id="create_card" onsubmit="return validate_form()">
        <div class="content">
            <h2>Nombre de la Campaña</h2>
            <input type="text" name="name" minlength="4" maxlength="48" required>    
        </div>
        <div class="content">
            <h2>Fecha inicio</h2>
            <input  type="date" class="begin_date" name="begin_date" required>
        </div>
        <div class="content">
            <h2>Fecha fin</h2>
            <input type="date" class="end_date" name="end_date" min="2020-01-15" required>    
        </div>
        <div class="content">
            <h2>Monto Recibido:</h2>
            <div class="amount_wrap amount_edition">
                <div>
                    <p>Moneda</p>
                    <select class="currency_selector" name="goal_currency">
                        <option value="ARS">AR$</option>
                        <option value="USD">USD</option>
                        <option value="EUR">EUR</option>
                    </select>
                </div>
                <div class="amount_container">
                    <p>Monto</p>
                    <input type="number" name="goal_amount" max="999999999" required>
                </div>
            </div>
        </div>    
        <div class="content">
            <input type="submit" value="Crear">
        </div>
        <input type="hidden" name="{{ csrf_token_name }}" value="{{ csrf_hash }}" />
    </form>
</section>
