<section class="wrapper-wide">
    <!--Contexto de aplicación-->
    <div class="app_context">
        <div class="wrapper">
            <span>Creando una nueva ficha</span>
        </div>
    </div>
</section>
<section class="wrapper">
    <!--Breadcrumb-->
    <div class="content breadcrumb">
        <a href="/campanias">
            <i class="fa fa-home"></i>
        </a>
        &#9656;
        <a href="/campania/{{ campaign_id }}">{{ campaign.name }}</a>
        &#9656;
        Crear Nueva Ficha
    </div>

    <div class="content">
        <h1>Nueva Ficha</h1>
    </div>
    <form action="" method="post" id="create_card" onsubmit="return validate_form()">
        <input type="hidden" id="campaign_id" name="campaign_id" value="{{ campaign_id }}">
        <div class="content">
            <h2>Aportante/s:</h2>
            <div class="contributor_system">
                <input type="hidden" class="contributor_id" name="contributors[]">
                <input type="text" class="contributor" autocomplete="off" placeholder="Ingresar aportante...">
                <div class="contributor_options">
                    <div class="loader start-hidden">
                        <img src="/assets/images/loader.gif">
                    </div>
                    <ul class="options">
                    </ul>
                </div>
            </div>
            <div class="extra_contributors">
                <div class="contributor_system extra_contributor idle">
                    <input type="hidden" class="contributor_id">
                    <div class="extra_contributor_row">
                        <input type="text" class="contributor" autocomplete="off" placeholder="Agregar otro aportante..." name="extra_contributor">
                        <button type="button" class="remove"><i class="fa fa-user-times fa-2x"></i></button>           
                    </div>
                    <div class="contributor_options">
                        <div class="loader start-hidden">
                            <img src="/assets/images/loader.gif">
                        </div>
                        <ul class="options">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form_error contributors">
                <span>Los aportantes deben ser seleccionados de la lista.</span>
            </div>
            <div class="flex_right_align">
                <button type="button" class="button_small add_contributor"><i class="fa fa-user-plus fa-lg"></i> Agregar Aportante</button>
            </div>               
        </div>
        <div class="content">
            <h2>Compromisos:</h2>
            <div class="amount_wrap">
                <div class="amount_container">
                    <p class="currency">AR$</p>
                    <input class="amount" type="number" name="commitments[ARS]">
                </div>
                <div class="amount_container">
                    <p class="currency">USD</p>
                    <input class="amount" type="number" name="commitments[USD]">
                </div>
                <div class="amount_container">
                    <p class="currency">EUR</p>
                    <input class="amount" type="number" name="commitments[EUR]">
                </div>
            </div>
            <div class="form_error money">
                <span>Debe ingresar un monto en al menos una moneda</span>
            </div>
        </div>    
        <div class="content">
            <h2>Comentarios:</h2>
            <textarea name="comments" form="create_card" placeholder="Indicar las fechas aproximadas en que se recibirán los aportes."></textarea>
        </div>
        <div class="content">
            <div class="form_error general">
                <span>Hay errores en la carga de datos.</span>
            </div>
            <input type="submit" value="Guardar">
        </div>
        <input type="hidden" name="{{ csrf_token_name }}" value="{{ csrf_hash }}" />
    </form>
</section>
