<section class="wrapper-wide">
    <!--Contexto de aplicación-->
    <div class="app_context">
        <div class="wrapper">
            <span>{% if active_campaign %}Editando una ficha{% else %}Viendo una ficha{% endif %}</span>
        </div>
    </div>
</section>
<section class="wrapper">
    <!--Breadcrumb-->
    <div class="content breadcrumb">
        <a href="/campanias">
            <i class="fa fa-home"></i>
        </a>
        &#9656;
        <a class="back-to-campaign" href="/campania/{{ card.campaign.id }}">{{ card.campaign.name }}</a>
        &#9656;
        <a href="/ficha/{{ card.id }}">{{ card_name }}</a>
        &#9656;
        {% if active_campaign %}Editando ficha{% else %}Viendo ficha{% endif %}
    </div>

    <div class="content">
        <h1>{% if active_campaign %}Editando ficha{% else %}Viendo ficha{% endif %}</h1>
    </div>
    <form action="" method="post" id="create_card" onsubmit="return validate_form()">
        <input type="hidden" id="card_id" name="card_id" value="{{ card.id }}">
        <input type="hidden" id="active_campaign" value="{{ active_campaign }}">
        <div class="content">
            <h2>Aportante/s:</h2>
            <div class="contributor_system">
                <input type="hidden" class="contributor_id" name="contributors[]" value="{{ contributor.id }}">
                <input type="text" class="contributor" autocomplete="off" placeholder="Ingresar aportante..." value="{{ contributor.first_name | title }} {{ contributor.last_name | title}}">
                <div class="contributor_options">
                    <div class="loader start-hidden">
                        <img src="/assets/images/loader.gif">
                    </div>
                    <ul class="options">
                        <li class="option" data-id="{{ contributor.id }}">{{ contributor.first_name | title }} {{ contributor.last_name | title}}</li>
                    </ul>
                </div>
            </div>
            <div class="extra_contributors">
                {% if extra_contributors | length > 0 %}
                    {% for extra_c in extra_contributors %}
                    <div class="contributor_system extra_contributor">
                        <input type="hidden" class="contributor_id" name="contributors[]" value="{{ extra_c.id }}">
                        <div class="extra_contributor_row">
                            <input type="text" class="contributor" autocomplete="off" placeholder="Agregar otro  aportante..." value="{{ extra_c.first_name | title }} {{ extra_c.last_name | title}}" name="extra_contributor">
                            <button type="button" class="remove"><i class="fa fa-user-times fa-2x"></i></button>
                        </div>
                        <div class="contributor_options">
                            <div class="loader start-hidden">
                                <img src="/assets/images/loader.gif">
                            </div>
                            <ul class="options">
                                <li class="option" data-id="{{ extra_c.id }}">{{ extra_c.first_name | title }} {{ extra_c.last_name | title}}</li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="contributor_system extra_contributor idle">
                    <input type="hidden" class="contributor_id" name="contributors[]">
                    <div class="extra_contributor_row">
                        <input type="text" class="contributor" autocomplete="off" placeholder="Agregar otro aportante..." name="extra_contributor">
                        <button type="button" class="remove"><i class="fa fa-user-times fa-2x"></i></button>
                    </div>
                    <div class="contributor_options">
                        <div class="loader start-hidden">
                            <img src="/assets/images/loader.gif">
                        </div>
                        <ul class="options">
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="form_error contributors">
                <span>Los aportantes deben ser seleccionados de la lista.</span>
            </div>
            {% if active_campaign %}
            <div class="flex_right_align">
                <button type="button" class="button_small add_contributor"><i class="fa fa-user-plus fa-lg"></i> Agregar Aportante</button>
            </div>               
            {% endif %}
        </div>
        <div class="content">
            <h2>Compromisos:</h2>
            <div class="amount_wrap">
                <div class="amount_container">
                    <p class="currency">AR$</p>
                    <input class="amount" type="number" name="commitments[ARS]" value="{{ commitments['ARS'] }}" >
                </div>
                <div class="amount_container">
                    <p class="currency">USD</p>
                    <input class="amount" type="number" name="commitments[USD]" value="{{ commitments['USD'] }}" >
                </div>
                <div class="amount_container">
                    <p class="currency">EUR</p>
                    <input class="amount" type="number" name="commitments[EUR]" value="{{ commitments['EUR'] }}" >
                </div>
            </div>
            <div class="form_error money">
                <span>Debe ingresar un monto en al menos una moneda</span>
            </div>
        </div>    
        <div class="content">
            <h2>Comentarios:</h2>
            <textarea name="comments" form="create_card" placeholder="Indicar las fechas aproximadas en que se recibirán los aportes.">{{ card.comments }}</textarea>
        </div>
        <div class="content">
            <input style="vertical-align: middle" type="checkbox" id="claim_card" name="claim_card" value="True">
            <label style="vertical-align: middle" for="claim_card">Asignarme la administración de esta ficha</label>
        </div>
        <div class="content">
            <input style="vertical-align: middle" type="checkbox" id="finish_card" name="finish_card" value="True">
            <label style="vertical-align: middle" for="finish_card">Marcar esta ficha como finalizada</label>
        </div>
        <div class="content">
            <div class="form_error general">
                <span>Hay errores en la carga de datos.</span>
            </div>
            {% if active_campaign %}
            <div style="display: flex; flex-direction:row; padding-top: 20px">
                <div style="margin-right: 10px">
                    {% if is_admin %}
                    <input style="display: block; background-color: red; color: white;" class="open_modal" data-modal-name="eliminar_ficha" type="button" value="Eliminar">

                    <div id="eliminar_ficha" class="tip modal">
                        <div class="modal_content">
                            <a class="close_modal" href="#"><i class="fa fa-window-close"></i></a>
                            <h2 style="color: red; padding-top: 10px"><i class="fa fa-exclamation-triangle"></i> Está seguro de eliminar esta ficha?</h2>
                            <p>Si elimina esta ficha los datos se perderán y no habrá manera de recuperarlos. Solo elimine fichas duplicadas o erróneas. No elimine fichas por inactividad.</p>
                            <br>
                            <div style="display: flex">
                                <input class="button_red remove-card" type="button" value="Eliminar Ficha">
                                <input class="cancel_modal" type="button" value="Cancelar">
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div style="display: block; ; width: 80%">
                    <input type="submit" value="Guardar">
                </div>
            </div>
            {% endif %}
        </div>
        <input type="hidden" class="rainbow" name="{{ csrf_token_name }}" value="{{ csrf_hash }}" />
    </form>
</section>
