<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Aportes</title>
		<link rel="stylesheet" href="/assets/styles/main.css">
		<link rel="icon" href="/assets/images/favicon.png" type="image/png">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		{% for path in stylesheets %}
			<link rel="stylesheet" href="/assets/styles/{{ path }}">
		{% endfor %}
        <script src="/assets/js/layout.js"></script>
		{% for path in scripts %}
			<script src="/assets/js/{{ path }}"></script>
		{% endfor %}
	</head>
	<body>
		<header>
			{% if not login_page %}
			<div class="user_logged_container">
				<div class="user_logged wrapper"> 
					<i class="fa fa-user fa"></i> 
					{{ first_name | title }} {{ last_name | title }}
				</div>
			</div>
			{% endif %}
			<div class="wrapper">
				<div class="logo">
                    {% if not login_page %}
                        <a href="/">
                            <img src="/assets/images/logo.svg" alt="Aportes PLR">				
                        </a>
                        <div class="menu_toggle">
                            <img class="menu_open" src="/assets/images/menu.png" alt="">
							<img class="menu_close" src="/assets/images/menu_close.png" alt="">
                        </div>
                    {% endif %}
				</div>
				<nav id="menu">
					<ul>
						{% if menu.create_card %}<li><a href="/nueva_ficha/{{ campaign_id }}"><i class="fa fa-plus-circle fa-lg green-icon"></i>Agregar ficha</a></li>{% endif %}
						{% if menu.admin_deliveries %}<li><a href="/gestionar_entregas/{{ campaign_id }}"><i class="fa fa-paper-plane fa-lg green-icon"></i>Gestionar entregas</a></li>{% endif %}
						{% if menu.card %}<li><a href="/ficha/{{ card_id }}"><i class="fa fa-folder-o fa-lg"></i>Volver a la ficha</a></li>{% endif %}
						{% if menu.campaign %}<li><a href="/campania/{{ campaign_id }}"><i class="fa fa-list fa-lg"></i>Volver a la campaña</a></li>{% endif %}
						{% if menu.another_campaign %}<li><a href="/"><i class="fa fa-home fa-lg"></i>Seleccionar otra campaña</a></li>{% endif %}
						{% if menu.report %}<li><a href="/informe/{{ campaign_id }}"><i class="fa fa-line-chart fa-lg"></i>Generar informe</a></li>{% endif %}
						{% if menu.new_campaign %}<li><a href="/"><i class="fa fa-proyect-diagram fa-lg"></i>Nueva campaña</a></li>{% endif %}
						{% if menu.new_contributor %}<li><a href="/"><i class="fa fa-user-plus fa-lg"></i>Nuevo aportante</a></li>{% endif %}
						<li><a href="/tutorial"><i class="fa fa-book fa-lg"></i>Ver Tutorial</a></li>
						<li><a href="/logout"><i class="fa fa-sign-out fa-lg"></i>Cerrar sesión</a></li>
					</ul>
				</nav>
			</div>	
		</header>

		<main>
			{{ main | raw }}

			<!--Warning de Internet-->
			<div>
				<div id="warning_internet" class="modal">
					<div class="modal_content">
						<a class="close_modal" href="#"><i class="fa fa-window-close"></i></a>
						<div class="warning_internet_align">
							<div>
								<i class="fa fa-plug fa-2x"></i>
							</div>
							<div>
								<h2>Ups! Tuvimos problemas con el servidor.</h2>
								<p>Revise su conexión a internet. Si el problema persiste, contacte a los administradores.</p>
							</div>
						</div>						
					</div>
				</div> 
			</div>
			<!--FIN: Warning de Internet-->
		</main>
		<footer>
			<section class="content">
                {% if not login_page %}
                    <span>Equipo de Aportes de Parque La Reja</span><br><br>
					<span><a class="link_tutorial" href="/tutorial"><i class="fa fa-info-circle"></i> Ver Tutorial</a></span>
                {% endif %}
			</section>
		</footer>
	</body>
</html>
