<section class="wrapper">
    <div style="
        color: #333;
        font-size: 36px;
        text-align: center;
        background: url('/assets/images/parque.jpg');
        padding-top: 400px;
    ">
        <div style="
            background-color: rgba(255,255,255,0.8);
            padding: 40px 10px;
            ">
            El sitio de aportes se encuentra en manteniento.<br>
            En unas pocas horas volverá a estar activo<br><br>
            <div style="width: 500px; margin: 0 auto;">
                Ante cualquier duda contacte a Carlos Muñoz / Santiago González
            </div>
        </div>
    </div>
</section>
