<section class="wrapper">
    <div>
        <div class="content">
            <h1>Acceso al Sistema</h1>
            <hr>
        </div>
        <form action="" method="post">
            <div class="content">
                <p>Usuario (Email):</p>
                <input type="email" name="email" required>
            </div>
            <div class="content">
                <p>Contraseña:</p>
                <input type="password" name="password" required>
            </div>
            {% if error %}
            <div class="login_error">
                <div>
                    <i class="fa fa-warning fa"></i>
                </div>
                <div>
                    <p>Usuario y/o contraseña incorrectos.</p>
                    <p>Por favor intente nuevamente.</p>
                </div>
            </div>
            {% endif %}
            <div class="content">
                <input type="submit" value="Acceder">
            </div>
            <input type="hidden" name="{{ csrf_token_name }}" value="{{ csrf_hash }}" />
        </form>
    </div>
</section>
