{{ twig_data }}
{% for currency in currencies %} 
    <div> <b>Moneda:</b> {{ currency.denomination }} </div>
    <div> <b>Abreviación:</b> {{ currency.id }} </div>
    <div> <b>Valor en dolares:</b> {{ currency.value }} </div>
{% endfor %}
