<section class="wrapper">
    <div class="status_bar">
        <div class="wrapper">
            <span>Procesando datos...</span>
        </div>
    </div>
    <!--Breadcrumb-->
    <div class="content breadcrumb">
        <a href="/campanias">
            <i class="fa fa-home"></i>
        </a>
        &#9656;
        <a href="/campania/{{ campaign.id }}">{{ campaign.name }}</a>
        &#9656;
        Gestionar Entregas
    </div>
    <div class="content">
        <h1>Gestionar Entregas</h1>
    </div>
    <!--Recibido, Entregado y Confirmado-->
    <div class="content amounts_desktop">
        <div>
            <div>
                <span class="amount_titles">Recibido</span>
                <a class="help open_modal" data-modal-name="help_recibido"><i class="fa fa-info-circle fa-lg"></i></a>
            </div>         
            <div id="help_recibido" class="tip modal">
                <div class="modal_content">
                    <a class="close_modal" href="#"><i class="fa fa-window-close"></i></a>
                    <h2>¿Qué es Recibido?</h2>
                    <p>Es el dinero que hemos recibido pero que aún no hemos entregado a La Comisión.</p>
                </div>
            </div>
            <div class="amount_wrap_small">
                <div>
                    <span class="currency">ARS</span>
                    <span class="commitment_amount">{{ amounts.non_delivered.ARS | number_format(0, ',', '.')}}</span>
                </div>
                <div>
                    <span class="currency">USD</span>
                    <span class="commitment_amount">{{ amounts.non_delivered.USD | number_format(0, ',', '.')}}</span>
                </div>
                <div>
                    <span class="currency">EUR</span>
                    <span class="commitment_amount">{{ amounts.non_delivered.EUR | number_format(0, ',', '.')}}</span>
                </div>
            </div>
        </div>
        <div>   
            <div>
                <span class="amount_titles">Entregado a Comisión</span>
                <a class="help open_modal" data-modal-name="help_entregado"><i class="fa fa-info-circle fa-lg"></i></a>
            </div>
            <div id="help_entregado" class="tip modal">
                <div class="modal_content">
                    <a class="close_modal" href="#"><i class="fa fa-window-close"></i></a>
                    <h2>¿Qué es Entregado?</h2>
                    <p>Es el dinero que hemos entregado a La Comisión, pero que se encuentra pendiente de aprobación dentro de la aplicación.</p>
                </div>
            </div>
            <div class="amount_wrap_small">
                <div>
                    <span class="currency">ARS</span>
                    <span class="commitment_amount">{{ amounts.delivered.ARS | number_format(0, ',', '.')}}</span>
                </div>
                <div>
                    <span class="currency">USD</span>
                    <span class="commitment_amount">{{ amounts.delivered.USD | number_format(0, ',', '.')}}</span>
                </div>
                <div>
                    <span class="currency">EUR</span>
                    <span class="commitment_amount">{{ amounts.delivered.EUR | number_format(0, ',', '.')}}</span>
                </div>
            </div>
        </div>
        <div>        
            <div>
                <span class="amount_titles">Confirmado por Comisión</span>
                <a class="help open_modal" data-modal-name="help_confirmado"><i class="fa fa-info-circle fa-lg"></i></a>
            </div>
            <div id="help_confirmado" class="tip modal">
                <div class="modal_content">
                    <a class="close_modal" href="#"><i class="fa fa-window-close"></i></a>
                    <h2>¿Qué es Confirmado?</h2>
                    <p>Es el total del dinero que hemos entregado a La Comisión durante la campaña actual, y ya ha sido confirmada su correcta recepción.</p>
                </div>
            </div>
            <div class="amount_wrap_small">
                <div>
                    <span class="currency">ARS</span>
                    <span class="commitment_amount">{{ amounts.confirmed.ARS | number_format(0, ',', '.')}}</span>
                </div>
                <div>
                    <span class="currency">USD</span>
                    <span class="commitment_amount">{{ amounts.confirmed.USD | number_format(0, ',', '.')}}</span>
                </div>
                <div>
                    <span class="currency">EUR</span>
                    <span class="commitment_amount">{{ amounts.confirmed.EUR | number_format(0, ',', '.')}}</span>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" class="rainbow" name="{{ csrf_token_name }}" value="{{ csrf_hash }}" />
    

</section>
<section class="wrapper_wide">
    <div class="wrapper">
            <!--Lista a Entregar-->
        <div>
            <h1 class="h1_white">Entregar:</h1>
            <div class="content flex_center_align sticky-confirmation">
                <button id="deliverStep1" class="button_small"><i class="fa fa-check fa-lg"></i> Informar Entregas</button>
                <button id="undeliver" class="button_small button_red"><i class="fa fa-undo fa-lg"></i> Revertir Entregas</button>
            </div>  
            <div>
                {% for delivery in deliveries %}
                <div class="delivery_item checkable">
                    <input class="id" type="hidden" value="{{ delivery.id }}">
                    <input class="status" type="hidden" value="{{ (delivery.final_delivery is defined) ? 1 : 0 }}">
                    <div>
                        <div class="delivery_name">
                            {% for index, contrib in delivery.card.contributors %}
                                {{ contrib.first_name | title }} {{ contrib.last_name | title }}
                                {% if (index+1) != delivery.card.contributors | length %} / {% endif %}
                            {% endfor%}
                        </div>
                        <div>
                            <span>
                                <span class="currency">{{ delivery.currency }}</span>
                                <span data-amount="{{ delivery.amount }}" class="commitment_amount">{{ delivery.amount | number_format(0, ',', '.')}}</span>
                            </span>
                            {% if delivery.final_delivery is defined %}
                                <span class="status_orange">Entregado a comisión</span>
                            {% else %}
                                <span class="status_red">Recibido</span>
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <input class="check" type="checkbox">
                    </div>    
                </div>
                {% else %}
                <div class="delivery_item">
                    <span class="comment"><i class="fa fa-info-circle fa-lg"></i> Actualmente no tenés aportes pendientes de entrega.</span>
                </div>
                {% endfor %}
            </div> 
        </div>
        <div id="comment_box" class="modal">
            <div class="modal_content">
                <a class="close_modal" href="#"><i class="fa fa-window-close"></i></a>
                <form class="form_modal">
                    <input id="date" type="date" value='{{ "now"|date("Y-m-d") }}'>
                    <br><br>
                    <textarea id="comment" placeholder="Ingrese un comentario"></textarea>
                    <br><br>
                    <div class="sums">
                        <h2>Entregando:</h2>
                        <div>
                            <span class="currency">ARS</span>
                            <span class="ARS">0</span>
                        </div>
                        <div>
                            <span class="currency">USD</span>
                            <span class="USD">0</span>
                        </div>
                        <div>
                            <span class="currency">EUR</span>
                            <span class="EUR">0</span>
                        </div>
                    </div>
                    <br>
                    <input class="button_small" type="button" id="deliver" value="Entregar">
                    <!--button class="button_small" id="deliver">Entregar</button-->
                </form> 
            </div>
        </div>
    </div>
    <h1 class="h1_white">Confirmados:</h1>
    <div class="wrapper">
        {% for delivery in confirmed %}
            <div class="delivery_item">
                <div>
                    <div>
                        <span>
                            <span class="delivery_date">{{ delivery.reception_date | date('d/m/Y') }}</span>
                            <span class="currency">{{ delivery.currency }}</span>
                            <span class="commitment_amount">{{ delivery.amount | number_format(0, ',', '.') }}</span>
                            <div><span class="comment">{{ delivery.comments }}</span></div>
                        </span>
                    </div>
                </div>
            </div>
        {% else %}
        <div class="delivery_item">
            <span class="comment"><i class="fa fa-info-circle fa-lg"></i> Aún no han sido confirmados en la campaña actual aportes entregados por vos.</span>
        </div>
        {% endfor %}
    </div>
</section>
