<section class="wrapper">
    <!--Breadcrumb-->
    <div class="content breadcrumb">
        <a href="/campanias">
            <i class="fa fa-home"></i>
            Campañas
        </a>
        &#9656;
        <a href="/campania/{{ campaign.id }}">{{ campaign.name }}</a>
        &#9656;
        Informe
    </div>
    <div class="content">
        <h1>Informe</h1>
        <p style="text-align: center; color: #888">Datos actualizados de la campaña {{ campaign.name }}</p>
    </div>
    <!--div>
        <h1>Informe Parcial:</h1>
        <p style="color: red">Meter esto en un modal</p>
        <form action="" method="post" id="create_report">
            <div class="content">
                <div class="content">
                    <h2>Desde:</h2>
                    <input class="begin_date" type="date" name="begin_date" required="">
                </div>
                <div class="content">
                    <h2>Hasta:</h2>
                    <input type="date">
                </div>
                <div class="content">
                    <input type="submit" value="Actualizar">
                </div>
            </div>
        </form>
    </div-->
    <div>
        <!-- Acá poner la cantidad de fichas y de aportantes-->
        <div class="report_table">
            <div class="report_table_row">
                <div>Cantidad de aportantes</div>
            </div>
            <div class="report_table_row">
                <div style="color: #444"> <b>{{ total_contributors }}</b> aportantes en <b>{{ total_cards }}</b> fichas</div>
                <!--div>{{ total_cards }}</div-->
            </div>
            <!--div class="report_table_row">
                <div style="color: #444">Aportantes:</div>
                <div>{{ total_contributors }}</div>
            </div-->
        </div>

        <div class="report_table">
            <div class="report_table_row">
                <div>Compromisos</div>
                <div>AR$</div>
                <div>USD</div>
                <div>EUR</div>
            </div>
            <div class="report_table_row">
                <div style="color: #444">Montos</div>
                <div>{{ commitments.ARS | number_format(0, ',', '.') }}</div>
                <div>{{ commitments.USD | number_format(0, ',', '.') }}</div>
                <div>{{ commitments.EUR | number_format(0, ',', '.') }}</div>
            </div>
        </div>
        <div class="report_table">
            <div class="report_table_row">
                <div>Estado de Aportes</div>
                <div>AR$</div>
                <div>USD</div>
                <div>EUR</div>
            </div>
            <!--div class="report_table_row">
                <div style="color: #444">Compromisos:</div>
                <div>{{ commitments.ARS | number_format(0, ',', '.')  }}</div>
                <div>{{ commitments.USD | number_format(0, ',', '.')  }}</div>
                <div>{{ commitments.EUR | number_format(0, ',', '.')  }}</div>
            </div-->
            <div class="report_table_row">
                <div style="color: #444"><span class="status_red">Recibido</span></div>
                <div>{{ collectors.ARS | number_format(0, ',', '.') }}</div>
                <div>{{ collectors.USD | number_format(0, ',', '.') }}</div>
                <div>{{ collectors.EUR | number_format(0, ',', '.')  }}</div>
            </div>
            <div class="report_table_row">
                <div style="color: #444"><span class="status_orange">Entregado a comisión</span></div>
                <div>{{ commision.ARS | number_format(0, ',', '.') }}</div>
                <div>{{ commision.USD | number_format(0, ',', '.') }}</div>
                <div>{{ commision.EUR | number_format(0, ',', '.') }}</div>
            </div>
            <div class="report_table_row">
                <div style="color: #444"><span class="status_green">Confirmado</span></div>
                <div>{{ confirmed.ARS | number_format(0, ',', '.') }}</div>
                <div>{{ confirmed.USD | number_format(0, ',', '.') }}</div>
                <div>{{ confirmed.EUR | number_format(0, ',', '.') }}</div>
            </div>
            <div class="report_table_row" style="background-color: #ffe7a0; font-weight: 1000; color:#000;">	
                <div style="color: #444"><b>TOTAL</b></div>
                <div>{{ totals.ARS  | number_format(0, ',', '.') }}</div>
                <div>{{ totals.USD  | number_format(0, ',', '.') }}</div>
                <div>{{ totals.EUR  | number_format(0, ',', '.') }}</div>
            </div>
        </div>
    </div>

    <!--Este formato me parece que no va, mejor el de planilla para el informe-->
    <!--div class="content amounts_desktop">
        <div>
            <h2>Total Recibido:</h2>
            <div class="amount_wrap_small">
                <div>
                    <span class="currency">USD</span>
                    <span class="commitment_amount">12000</span>
                </div>
                <div>
                    <span class="currency">AR$</span>
                    <span class="commitment_amount">650000</span>
                </div>
                <div>
                    <span class="currency">EUR</span>
                    <span class="commitment_amount">600</span>
                </div>
            </div>
        </div>
        <div>
            <h2>Total Comprometido:</h2>
            <div class="amount_wrap_small">
                <div>
                    <span class="currency">USD</span>
                    <span class="commitment_amount">17000</span>
                </div>
                <div>
                    <span class="currency">AR$</span>
                    <span class="commitment_amount">690000</span>
                </div>
                <div>
                    <span class="currency">EUR</span>
                    <span class="commitment_amount">1680</span>
                </div>
            </div>
        </div>
    </div-->

    <!--Para cuando sumemos la funcionalidad de recibidos por mes-->
    <!--Está el chart y el listado por mes-->
    <div>
        <!--
        <h2>Recibido en pesos por mes:</h2>
        <div class="chart">
            <div class="chart_canvas">
                <div class="chart_bar">
                    <div class="chart_amount"></div>
                </div>
                <div class="chart_bar">
                    <div class="chart_amount"></div>
                </div>
                <div class="chart_bar">
                    <div class="chart_amount"></div>
                </div>
                <div class="chart_bar">
                    <div class="chart_amount"></div>
                </div>
                <div class="chart_bar">
                    <div class="chart_amount"></div>
                </div>
                <div class="chart_bar">
                    <div class="chart_amount"></div>
                </div>
                <div class="chart_bar">
                    <div class="chart_amount"></div>
                </div>
                <div class="chart_bar">
                    <div class="chart_amount"></div>
                </div>
                <div class="chart_bar">
                    <div class="chart_amount"></div>
                </div>
                <div class="chart_bar">
                    <div class="chart_amount"></div>
                </div>
                <div class="chart_bar">
                    <div class="chart_amount"></div>
                </div>
                <div class="chart_bar">
                    <div class="chart_amount"></div>
                </div>
            </div>
            <div class="chart_data">
                <div>Ene</div>
                <div>Feb</div>
                <div>Mar</div>
                <div>Abr</div>
                <div>May</div>
                <div>Jun</div>
                <div>Jul</div>
                <div>Ago</div>
                <div>Sep</div>
                <div>Oct</div>
                <div>Nov</div>
                <div>Dic</div>
            </div>
        </div>
       -->
        <p style="text-align: center; margin-bottom:10px; color: #888">Detalle de ingresos por mes</p>
        <div class="report_table">
            <div class="report_table_row">
                <div>Mes</div>
                <div>AR$</div>
                <div>USD</div>
                <div>EUR</div>
            </div>
            {% for month in amountsByMonth %}
            <div class="report_table_row">
                <div>{{ month.year }} - {{ month.month }}</div>
                <div>{{ month.amounts.ARS | number_format(0, ',', '.') }}</div>
                <div>{{ month.amounts.USD | number_format(0, ',', '.') }}</div>
                <div>{{ month.amounts.EUR | number_format(0, ',', '.') }}</div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!--Para cuando tengamos la funcionalidad de descargar el informe
    <div class="content flex_center_align">
        <button class="button_small"><i class="fa fa-file-pdf-o fa-lg"></i> Descargar Informe</button>
    </div-->
</section>
