<section class="wrapper">
    <div class="content">
        <h1>Seleccionar Campaña</h1>
    </div>
    <ul class="campaign_list">
    </ul>
    {% if user_type == 'a' %}
    <div class="content flex_center_align">
        <a href="/nueva_campania"><button class="button_small"><i class="fa fa-plus-circle fa-lg"></i> Agregar Nueva Campania</button></a>
    </div>
    {% endif %}
</div>
