<section class="wrapper">
    <div>
   
        <h1>Tutorial</h1>


        <div>
            <hr>
            <div class = "content">
                <h2 class="h2tutorial">
                    1. Iniciar Sesión
                </h2>
                <p>Inicio de sesión con el email y contraseña.</p>
            </div>
            
            <video controls>
                <source src="/assets/video/01_iniciar_sesion.mp4" type="video/mp4">
                Tu navegador no soporta html 5.
            </video> 
        </div>


        <div>
            <hr>
            <div class = "content">
                <h2 class="h2tutorial">
                    2. Cargar Fichas
                </h2>
                <p>Las fichas contienen los datos de un compromiso individual o grupal. Y las entregas de dinero que vamos recibiendo.</p>
            </div>    
            
            <video controls>
                <source src="/assets/video/02_cargar_ficha.mp4" type="video/mp4">
                Tu navegador no soporta html 5.
            </video> 
        </div>


        <div>
            <hr>
            <div class = "content">
                <h2 class="h2tutorial">
                    3. Editar Ficha
                </h2>
                <p>Podemos editar la información dentro de una ficha en todo momento.</p>
            </div>
            
            <video controls>
                <source src="/assets/video/03_editar_ficha.mp4" type="video/mp4">
                Tu navegador no soporta html 5.
            </video> 
        </div>


        <div>
            <hr>
            <div class = "content">
                <h2 class="h2tutorial">
                    4. Cargar Aportes Recibidos
                </h2>
                <p>Cada vez que recibimos dinero lo podemos cargar al sistema. De este modo siempre tendremos registrado lo que va ingresando.</p>
            </div>
            
            <video controls>
                <source src="/assets/video/04_cargar_aportes.mp4" type="video/mp4">
                Tu navegador no soporta html 5.
            </video> 
        </div>


        <div>
            <hr>
            <div class = "content">
                <h2 class="h2tutorial">
                    5. Gestionar Entregas a la Comisión
                </h2>
                <p>Cada vez que entregamos un monto de dinero a la Comisión vamos a registrar esto en el sistema. Luego la Comisión deberá confirmar la recepción de ese monto.</p>
            </div>
            
            <video controls>
                <source src="/assets/video/05_gestionar_entregas.mp4" type="video/mp4">
                Tu navegador no soporta html 5.
            </video> 
        </div>


        <div>
            <hr>
            <div class = "content">
                <h2 class="h2tutorial">
                    6. Comisión Confirma Recepción de Aportes
                </h2>
                <p>La Comisión ingresa con su usuario y confirma el bloque de aportes recibidos. Una vez que la comisión confirmó la recepción esos datos ya no podrán modificarse por el receptor.</p>
            </div>
            
            <video controls>
                <source src="/assets/video/06_gestion_comision.mp4" type="video/mp4">
                Tu navegador no soporta html 5.
            </video> 
        </div>
        
</section>
