/*Importa la hoja reset.css*/
@import "reset.css";

/*Importa la tipografía Roboto de Google*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*Reglas Generales del documento*/
html {
	font-family: Roboto;
}
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}
main {	
	flex: 1;
}
header, footer {
	background-color: #222;
	color: #999;
	box-sizing: border-box;
}
footer {
	text-align: center;
	padding: 10px;
}
footer > .content {
	padding-top: 20px;
}

/*Reglas Generales de elementos*/
a {
	text-decoration: none;
	color: #444;
}
a:hover {
	text-decoration: underline;
}
input, button, .card_delivery {
	border-radius: 5px;
}
button, input[type=button] {
	cursor: pointer;
}
.user_logged {
	padding: 10px 20px 5px;
	text-align: center;
	color: #ddd;
	/*color: rgb(208, 249, 250);*/
}
.user_logged_container {
	background-color: #000;
}
.user_logged > i{
	font-size: 20px;
}
.logo {
	padding: 30px 20px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.wrapper {
	margin: auto;
	position: relative;
	box-sizing: border-box;
}
.wrapper_wide {
	width: 100%;
	background-color: #777;
	box-shadow: inset 0 3px 5px #333;
}
.content {
	/* padding: 10px 20px; */
	padding: 10px;
}
.content:last-child {
	padding-bottom: 30px;
}
section:last-of-type {
	padding-bottom: 30px;
}

/*Botones para mostrar/ocultar el menú principal */
.menu_toggle {
	display: auto;
	cursor: pointer;
}
.menu_open {
	display: auto;
}
.menu_close {
	display: none;
}

/*Menú principal*/
nav {
	display: none; /*Oculta el menú principal*/
	background-color: #333;
	position: absolute;
	top: initial;
	padding-bottom: 10px;
	height: auto;
	width: 100%;
	opacity: 99%;
	z-index: 10;
}
nav ul li {
	border-bottom: 1px solid #444;
}
nav ul li:last-of-type {
	border: 0;
}

nav ul li:hover {
	background-color: #555;
}
nav ul li:last-of-type {
	border-radius: 0 0 10px 10px;
}
nav i {
	color: rgb(0, 203, 218);
	size: 20px;
	width: 40px;
	text-align: center;
}
.fa-sign-out {
	color: orangered;
}
.green-icon  {
	color: rgb(190, 255, 93);
}

.campaign_buttons {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}
.campaign_filter_buttons {
	display: flex; 
	flex-direction: row
}


/*Campaign List*/
.campaign_list li {
	border-top: 2px solid orange;
	background-color: #ddd;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.campaign_list li:last-of-type {
	border-bottom: 2px solid orange;
}
.campaign_finished {
	display: flex;
	align-items: center;
	font-size: 14px;
	position: absolute;
	right: 10px;
	top: -2px;
	padding: 4px 10px;
	background-color: orange;
	color: #222;
	border-radius: 0 0 5px 5px;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}
.campaign_list a {
	text-decoration: none;
	color: #222;
	font-size: 20px;
	text-align: center;
	display: block;
	width: 100%;
	height: 100%;
	padding: 30px;
	box-sizing: border-box;
}
.campaign_list li:hover {
	display: block;
	background-color: #ffdc9b;
}

/*Elementos comúnes*/
h1 {
	color: #666;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	padding: 20px 20px 10px;	
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
h2 {
	font-size: 18px;
	line-height: 24px;
	color: rgb(93, 150, 93);
	font-weight: bold;
	margin-bottom: 10px;
}
.h1_white {
	color: white;
	text-shadow: 0px 1px 2px black;
}
.h2tutorial {
	color: #666;
    font-size: 26px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	padding-top: 30px;
}
video {
	margin: 20px 0;
	width: 100%;
	height: auto;
	box-shadow: 0px 0px 10px #888;
}
hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #fff, #D6D6D6, #fff);
    background-image: -moz-linear-gradient(left,#fff, #D6D6D6,#fff);
    background-image: -ms-linear-gradient(left,#fff, #D6D6D6, #fff);
    background-image: -o-linear-gradient(left,#fff, #D6D6D6, #fff);
}
p {
	line-height: 24px;
	text-align: justify;
}

/*Quotes lo voy a usar para dejar comentarios*/
q {
	background-color: orange;
	padding: 10px;
	display: inline-block;
	border-radius: 5px;
	border: 2px dashed black;
}
b {
	font-weight: bolder;
}

.link_tutorial {
	color: white;
}
.link_tutorial:hover {
	color: white;
	text-decoration: underline;
}

/*Forms*/

form > div {
	max-width: 100%;
}
form input {
	background-color: #ccc;
	color: #222;
	border: none;
	border-radius: 2px;
	width: 100%;
	padding: 10px;
	font-size: 18px;
	box-sizing: border-box;
}

input[type=submit] {
	background-color: green;
	color: white;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
	border-radius: 2px;
}
input[type=submit]:hover {
	background-color: rgb(32, 184, 32);
	color: white;
}
input[type=number] {
	border-radius: 2px;
	padding: 10px;
	box-sizing: border-box;
}

input[type=checkbox] {
	cursor: pointer;
	width: 20px;
	height: 20px;
}

textarea {
	padding: 10px;
	font-size: 16px;
	background-color: #ccc;
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	border: none;
	border-radius: 2px;
	resize: none;
}

.breadcrumb {
	/* display: none; */
	color: #aaa;
}

.amount_wrap {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: left;
	padding: 5px;
	border-radius: 2px;
	background: #ddd;
	height: auto;
}
.amount_edition {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.currency_selector {
	color: rgb(0, 158, 231);
	padding: 5px 0;
	font-size: 18px;
}
.amount_edition > div {
	max-width: 50%;
	margin: 5px;
}
.amount_wrap_small {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: left;
	padding: 5px 15px;
	height: auto;
	background-color: #ddd;
	border-radius: 2px;
}
.amount_wrap_small div,.amount_wrap div {
	padding: 5px 0;	
}

.amount_container {
	box-sizing: border-box;
}
.extra_contributor {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: 10px;
}
.extra_contributor_row {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.extra_contributor.idle{
    display:none;
}
.extra_contributor input {
	border-radius: 3px 0 0 3px;
	box-sizing: border-box;
	border: 0;
	padding: 10px;
}
.extra_contributor button {
	background-color: crimson;
	color: white;
	border-radius: 0 3px 3px 0;
	border: 0;
	width: 50px;
	font-size: 16px;
}
input::placeholder, textarea::placeholder {
	font-style: italic;
}
button {
	border-radius: 3px;
}
.button_small {
	background-color: green;
	/* background:linear-gradient(rgb(8, 150, 8), green); */
	color: white;
	border: 2px solid green;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	vertical-align: super;
	padding: 10px;
	font-weight: bold;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
	/* margin: 0 10px;	 */
}
.button_filter {
	background-color: #ddd;
	color: #000;
	border: 1px solid #aaa;	
	margin: 0;	
	min-width: 50px;
	box-shadow: 0 0 0;
}
.filter_left {
	border-radius: 3px 0 0 3px;
	border-right: 0;
}
.filter_right {
	border-radius: 0 3px 3px 0;
}
.filter_disable {
	color: #888;
}
.add_contributor {
	margin-top: 10px;
}
form.add_contributor {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
form.add_contributor button{
    width: 100px;
}
form.add_contributor .result-message {
    font-weight: bold;
}
form.add_contributor .result-message.success {
    color: #008000;
}
form.add_contributor .result-message.fail {
    color: #800000;
}
.button_red {
	background-color: white;
	color: red;
	border: 2px solid red;
}
button:disabled {
    border: 2px solid gray;
    background-color: gray;
    cursor: default;
    color: #555;
}
.edit_button {
	float: right;
}
.flex_center_align {
	display: flex;
	justify-content: center;
}
.flex_right_align {
	display: flex;
	justify-content: flex-end;
}

/* Ocultar Flechas en inputs numéricos */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

/*Buscador*/
.search {
	background-color: #444;
	padding: 10px 20px;
}
.search input {
	border-radius: 5px 0 0 5px;
	box-sizing: border-box;
	border: 0;
	height: 30px;
	padding: 10px;
	font-style: italic;
	font-size: 16px;	
	background-color: white;
}
.search button {
	border-radius: 0 5px 5px 0;
	border: 0;
	width: 50px;
	font-size: 16px;
	cursor: pointer;
}
.search form {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.card_list_row{
	display: flex; 
	flex-direction: row; 
	justify-content: space-between; 
	align-items: center; 
	border-top: 1px solid #d1d1d1; 
	padding: 20px 10px;
}
.card_list_item {
	text-overflow: ellipsis;
  	overflow: hidden; 
  	white-space: nowrap;
}
.cards_list a:nth-of-type(2n+1) > div {
	background-color: #eee;
}
.cards_list a:nth-of-type(2n+1) > div:hover {
	background-color: rgb(255, 255, 225);
}
.cards_list:nth-last-child(1n) {
	border-bottom: 1px solid #d1d1d1;
}
.card_list_row:hover {
	background-color: rgb(255, 255, 225);
}

/*Card View*/
.currency, .commitment_amount {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.commitment_amount {
	font-size: 18px;
	font-weight: 900;
}
.currency {
	font-weight: 1000;
	color: rgb(22, 153, 214);
	border-radius: 5px;
	font-size: 18px;
}
.card_delivery {
	background-color: #ccc;
	margin-bottom: 20px;
	padding: 20px;
}
.card_delivery.logged_user{
    background-color: #fff;
}
.card_delivery > div {
	margin-top: 10px;
}
.status_green {
	background-color: green;
	border-radius: 3px;
	color: white;
	padding: 2px 5px;
	font-size: 14px;
}
.status_orange {
	background-color: rgb(255, 136, 0);
	border-radius: 3px;
	color: white;
	padding: 2px 5px;
	font-size: 14px;
}
.status_red {
	background-color: orangered;
	border-radius: 3px;
	color: white;
	padding: 2px 5px;
	font-size: 14px;
}


.card_delivery > div > span:first-child {
	font-weight: bold;
	color: #888;
}

/*Contexto de aplicación*/
.app_context {
	background-color: rgb(231, 72, 33);
	color: white;
	font-size: 14px;
	padding: 5px 20px;
	position: sticky;
	top: 0;
}
.app_success {
	background-color: rgb(37, 163, 37);
	color: white;
	font-size: 14px;
	padding: 5px 20px;
	position: sticky;
	top: 0;
}
.app_error {
	background-color: rgb(231, 0, 0);
	color: white;
	font-size: 14px;
	padding: 5px 20px;
	position: sticky;
	top: 0;
}
.status_bar {
	background-color: rgba(126, 0, 0, 0.85);
	color: white;
	font-size: 20px;
	padding: 20px;
	position: fixed;
	top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display:none;
}

/*Modal*/
.modal_content {
	background-color: white;
	padding:20px;
	position: relative;
	border-radius: 5px;
	margin: 20px;
    z-index: 2;
}
.modal {
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	align-items: center;
	transition: all 0.3s;
	z-index: 1;
}
.help {
	color: rgb(93, 150, 93);
}
.close_modal {
	position: absolute;
	right: 12px;
	top: 8px;
	font-size: 24px;
	color: red;
}
/*Entregas*/
.delivery_item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #c1c1c1;
	padding: 12px;
	background-color: white;
}
.delivery_item > div > div {
	padding: 3px 0;
}
.delivery_item:last-child {
	border-bottom: 1px solid #c1c1c1;
}
.delivery_name {
	margin: 5px 0;
	font-weight: 900;
	font-size: 18px;
}
.delivery_date {
	color: #888;
}
.delivery_amount {
	color: rgb(0, 140, 255);
}
.delivery_currency {
	color: rgb(0, 140, 255);
}
.comment {
	color: #666;
}
/*Chart*/
.chart {
    display: flex;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.chart_canvas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
	height: 200px;
	background-image: linear-gradient(0deg, #b0b0b0 2.50%, #e3e3e3 2.50%, #e3e3e3 50%, #b0b0b0 50%, #b0b0b0 52.50%, #e3e3e3 52.50%, #e3e3e3 100%);
	background-size: 40.00px 40.00px;
}
.chart_bar {
	width: 8.33%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.chart_amount {
	background-color: #1b82aeff;
	width: 50%;
	height: 50%; /*Valor a cambiar por Santi*/
}
.chart_data {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 12px;
	padding: 5px 0;
}
.report_table {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	margin-bottom: 30px;
	box-shadow: 0 2px 8px #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}
.report_table_row {
	display: flex;
	flex-direction: row;
	padding: 15px;
	background-color: #f3f3f3;
	color: #444;
	border-bottom: 1px solid #d3d3d3;
}
.report_table_row:nth-of-type(2n+1) {
	background-color: #eee;
	border-top: 1px solid #eee;
}

.report_table_row:first-child {
	background-color: #1b82aeff;
	color: white;
	font-size: 1.2em;
}
.report_table_row > div {
	min-width: 15%;
	text-align: right;
}
.report_table_row > div:nth-child(1) {
	min-width: 48%;
}
.report_table_row > div:nth-child(2) {
	min-width: 22%;
}
.report_table_row > div:first-child {
	text-align: left;
}
/*
.help_align {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
*/
.amount_titles {
	color:rgb(93, 150, 93);
	font-size: 1.2em;
	display: inline-block;
	padding: 20px 5px 5px 0;
}
.warning_internet_align {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.warning_internet_align i {padding-right: 10px;}

.white {
	color: white;
}

.sticky-confirmation {
	position: sticky;
	top: 0;
	background: rgba(119,119,119, 0.8);
}

.delivery_item:first-of-type {
	border-radius: 10px 10px 0 0;
}
.delivery_item:last-of-type {
	border-radius: 0 0 10px 10px;
}
.delivery_item:only-of-type {
	border-radius: 10px;
}

/*********************************************************************************************************************/

/* Desktop */
@media only screen and (min-width: 960px) and (orientation: landscape) {
	.wrapper {
		max-width: 960px;
	}
	.user_logged {
		text-align: right;
	}
	video {
		border-radius: 5px;
	}
	nav {
		max-width: 300px;
		position: absolute;
		top: initial;
		right: 0;
		height: auto;
		width: 100%;
		opacity: 95%;
		border-radius: 0 0 10px 10px;
		padding-bottom: 0;
	}
	form {
		width: 50%;
		margin: 0 auto;
	}
	.form_modal {
		width: 90%;
	}
	.campaign_list {
		max-width: 50%;
		margin: auto;
	}
	.campaign_list li {
		margin-bottom: 10px	;
		border: 2px solid orange;
		border-radius: 10px;
		cursor: pointer;
	}
	.campaign_list a {
		padding: 15px;
	}
	.search form {
		width: 50%;
	}
	.card_name {
		border-top: 2px solid #c1c1c1;
	}
	.modal_content {
		width: 30%;
		max-width: 920px;
		min-width: 500px;
		padding: 30px;
	}
	.help_align {
		width: 50%;
	}
	.amount_wrap_small {
		background-color: white;
	}
	.amounts_desktop {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.breadcrumb {
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		color:#aaa;
		border-bottom: 1px dashed #ddd;
		padding: 15px 0;
	}
	.breadcrumb > *{
		padding: 0 8px;
		color:#888;
	}
	.breadcrumb a:hover {
		color: green;
	}
	.report_table_row:first-of-type {
		border-radius: 5px 5px 0 0;
		font-size: 1.2em;
	}
	.report_table_row:last-of-type {
		border-radius: 0 0 5px 5px;
	}

}

/* santi */
.author{
    font-style: italic;
    font-weight: bold;
    color: rgb(93,150,93);
    text-align: right;
}
input.input_with_error{
    border: 1px solid red;
}
.form_error{
    border: 1px solid #f44;
    color: #f22; 
    border-radius: 3px;
    padding: 3px;
    margin: 5px 0px;
    background-color: #fbb;
    text-align: center;
    display: none;
}
.login_error {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: red;
	padding: 10px;
	margin: 10px 20px;
}
.login_error i {
	padding-right: 10px;

}
nav li {
	cursor: pointer;
}
nav a {
	box-sizing: border-box;
	padding: 20px;
	display: block; 
	width: 100%;
	height: 100%;
	color: white;
	text-decoration: none;
}

.loader{
	display: flex;
	justify-content: center;
	align-content: center;
	margin: auto;
    background-color: #eee;
	border-radius: 5px;
	padding: 10px;
}
.loader img {
	width: 32px;
}
.contributor_options{
    position: relative;
    z-index: 1;
}
.options{
    position: absolute;
    width: 100%;
    background-color: #eee;
    border-radius: 5px;
    display:none;
    z-index: 1000;
}
ul.options .option{
    padding: 20px;
    color: #333;
    cursor: pointer;
}
ul.options .option.selected{
    background-color: #ddd;
}
.start-hidden{
    display:none;
}
a{ cursor: pointer }
.sort-za{
    display: none;
}

input:disabled, select:disabled, textarea:disabled, button:disabled{
    cursor: not-allowed;
}

